div.auth-panel {
  width: auto;
  height: auto;
  overflow: visible;
  right: 10px;
  top: 40px;
  position: absolute;

  &:before {
    content: " ";
    position: absolute;
    top: -10px;
    right: 50%;
    transform: translateX(50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid hsl(0, 0%, 95%);;
  }

  .error {
    margin: 5px 0;
    font-weight: bold;
    color: red;
  }

  .instrutions, .group, .field {
    margin-bottom: 6px;
  }
  .buttons {
    margin-bottom: 4px;
  }
}