div.panel-container {



  &.shown {
    .panel {
      visibility: visible;
      opacity: 1;
    }
    .overlay {
      display: block;
    }
  }
  .panel {
    background: hsl(0, 0%, 95%);
    border-radius: 2px;
    color: hsl(0, 0%, 20%);
    padding: 5px 8px;
    font-size: 11px;
    line-height: 14px;
    display: block;
    align-items: center;
    -webkit-filter: drop-shadow(0 1px 2px hsla(0, 0%, 0%, 0.3));
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    background-clip: padding-box;
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    transition: visibility 0s 100ms, opacity 150ms cubic-bezier(0, 0, .2, 1);
    z-index: 20001;
    opacity: 0;
    text-overflow: ellipsis;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}