nav.toolbar {
  cursor: default;
  height: 26px;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  border-bottom: 1px solid #dadada;

  .logo {
    background: url(../../assets/images/icon32.png) 2px center no-repeat;
    background-size: 20px;
    padding: 0 6px 0 28px;
    font-weight: 800;
    height: 26px;
    display: flex;
    align-items: center;
  }

  .divider {
    background-color: #ccc;
    width: 1px;
    margin: 5px 4px;
    height: 16px;
  }

  .textbox-label {
    margin: 0 5px;
  }

  .textbox {
    height: 20px;
    width: 50px;
  }

  .status {
    flex: 1 1 auto;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4px;
    color: #333;

    &.not-found {
      opacity: 0.5;
    }
    &.error {
      color: #F00;
    }
  }
}